

body {
  margin: 0;
  background: url('./assets/images/pokemon_center.jpg') center , 
  rgb(220,105,46);
}

.main-container {
  display: flex;
  overflow: hidden;
  
  height: 100vh;
  width: 100%;
}

.swiper {
  overflow: hidden;
  width: 600px;
  height: auto;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* .main-container {
  height: 100vh;
  width: 100vw;
  background: teal;
} */