

body {
  margin: 0;
  background: url('./assets/images/pokemon_center.jpg') center , 
  rgb(220,105,46);
}

.main-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.swiper {
  overflow: hidden;
  width: 600px;
  height: auto;
  
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.border-container {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100vw;
  height: 20vh;
}

.pokemon-title {
  position: absolute;
  top: 10%;
  width: 50%
}





.pack-container {
  display: flex;
  gap: 20px;

  & button {
    background: none;
    border: none;
    

    & img {
      height: 300px;
      box-shadow: 1px 12px 22px -1px rgba(0,0,0,0.63);
      -webkit-box-shadow: 1px 12px 22px -1px rgba(0,0,0,0.63);
      -moz-box-shadow: 1px 12px 22px -1px rgba(0,0,0,0.63);
    }
  }

  & button:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }
}


.hidden {
  display: none;
}