

body {
  margin: 0;
  background: url('./assets/images/pokemon_center.jpg') center , 
  rgb(220,105,46);
}

.main-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.swiper {
  overflow: hidden;
  width: 600px;
  height: auto;
  
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper .swiper-wrapper {
  overflow: hidden;
}

.border-container {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100vw;
  height: 20vh;
}

.pokemon-title {
  position: absolute;
  top: 10%;
  width: 50%
}


.generator-container {
  display: flex;
  flex-flow: column;
  
  gap: 70px;
}

.menu-button-container {
  display: flex;
  justify-content: center;
  gap: 60px;

  & button {
    background: orange;
    color: white;
    font-size: x-large;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    border: 3px solid black;
  }

  & button:hover {
    background: rgb(207, 125, 1);
    cursor: pointer;
  }

  & .home-button {
    background: rgb(64, 64, 153);
  }

  & .home-button:hover {
    background: rgb(41, 58, 131);
  }
}


.pack-container {
  display: flex;
  gap: 20px;

  & button {
    background: none;
    border: none;
    
    & img {
      height: 300px;
      box-shadow: 1px 12px 22px -1px rgba(0,0,0,0.63);
      -webkit-box-shadow: 1px 12px 22px -1px rgba(0,0,0,0.63);
      -moz-box-shadow: 1px 12px 22px -1px rgba(0,0,0,0.63);
    }
  }

  & button:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }
}




.loader-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 100;

  & svg {
    margin: 0;
  }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: white;
  padding: 20px 50px;
  border-radius: 30px;
}


.sound-controller {
  position: fixed;
  top: 30px;
  left: 30px;
  
  & button {
    padding: 10px;
    cursor: pointer;
  }
  
  & img {
    width: 50px;
  }
}






/* 항상 가장 하단에 위치 시킬 것 */
.hidden {
  display: none;
}
